<div class="main-content px-5">
    <div class="section__content section__content--p30 ">
        <div class="container-fluid">
            <div class="row">
                <div *ngIf="cartItems.length>0;else noCartItems">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th width="20%">Image</th>
                                <th width="50%">Product Details</th>
                                <th width="30%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cartItem of cartItems">
                                <td><img src="{{cartItem.imgUrl}}" alt="{{cartItem.name}}" class="img-responsive"
                                        width="150"></td>
                                <td>
                                    <p>{{cartItem.name}}</p>
                                    <p>{{cartItem.unitPrice | currency:'USD'}}</p>
                                </td>
                                <td>
                                    <div class="items">
                                        <label>Quantity:</label>
                                        <div class="row g-0 mt-1">
                                            <div class="col">
                                                <button class="btn btn-primary btn-sm" (click)="incrementQuantity(cartItem)" ><i class="fas fa-plus"></i></button>
                                            </div>
                                           <div class="col ms-4 me-2">
                                                  {{cartItem.quantity}}
                                           </div>
                                            <div class="col">
                                                <button class="btn btn-primary btn-sm" (click)="decrementQuantity(cartItem)"><i class="fas fa-minus"></i></button>
                                            </div>
                                            <div class="col-8"></div>
                                        </div>
                                    </div>
                                    <button class="btn btn-danger btn-sm mt-2" (click)="remove(cartItem)">Remove</button>
                                    <p class="mt-2">Subtotal: {{cartItem.quantity * cartItem.unitPrice |
                                        currency:'USD'}}</p>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="2"></td>
                                <td class="fw-bold">
                                    <p>Total Quantity: {{totalQuantity}}</p>
                                    <p>Free Shipping</p>
                                    <p>total Price: {{totalPrice | currency:'USD'}}</p>
                                    <!--  <button class="btn btn-primary" routerLink="/checkout">Checkout</button> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <ng-template #noCartItems>
                <div class="alert alert-warning" role="alert">
                    Your shopping cart is empty !
                </div>
            </ng-template>

        </div>
    </div>
</div>